# Compiled class file
*.class

# Log file
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ
**/.idea/
**.iml

# Eclipse
**/.settings/

# Maven
**/target/
**/*.xml.releaseBackup
/release.properties

#Confidential
secret.properties

## More
.DS_Store

jdk/